.header-container {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.972);
}

header {
  margin-bottom: 50px;
}

.header-container button {
  background-color: #005288;
  padding: 5px;
  border: 5px #A7A9AC, solid;
}

.header-container button:hover {
  padding: 5px;
  border: 5px #A7A9AC;
}

.link {
  text-decoration: none;
  color: #A7A9AC;
  font-size: 15px;
  margin: 10px;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  animation-name: logo;
  animation-duration: 3s;
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: translate(0,-200px);
  }
  100% {
    opacity: 1;
  }
}