body {
  background-color: #005288;
}

.launch-container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.launch-container-home > div{
  display: flex;
  margin: 10px;
  width: 100%;
  justify-content: space-evenly;
}

.no-image {
  width: 320px;
}

@media (max-width: 600px) {
  .launch-container-home div {
    display: flex;
    width: 100%;
    padding: 40px;
    flex-wrap: wrap;
  }

  .launch-container-home div .main-launches {
   margin-bottom: 40px;
  }

  .launch-container-home div .main-launches h1 {
    width: 100%;
  }
}